# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build outputs
dist/
build/
out/
.next/
.nuxt/
.svelte-kit/

# Cache
.cache/
.parcel-cache/
.eslintcache
.vite/

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

.vitepress/